.git
.gitignore
README.md
.devcontainer
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
venv/
.pytest_cache/
.hypothesis/
.eggs/
*.egg-info/
build/
dist/
.DS_Store
Thumbs.db
*.tmp
*.temp
.vscode/
.idea/
SECRETS_README.md
